<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(user,index) in users" :key="user.name" v-if="user.gender == '女'">
               当前信息：{{index}} ==> {{user.name}} ==> {{user.gender}} ==> {{user.age}} <br />
               当前对象：<span v-for="(v,k,i) in user">{{k}} == {{v}} == {{i}}</span>
            </li>           
        </ul>

        <ul>
            <li v-for="(num,index) in nums" :key="index">{{num}}</li>
        </ul>
    </div>

    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                users: [{name:"刘岩", gender: "女", age: 21},
                {name:"张三", gender:"男", age:18},
                {name:"范冰冰", gender:"女", age:24},
                {name:"刘亦菲", gender:"女", age:18}],
                nums: [2, 3, 4, 5]
            }
        })
    </script>
    
</body>
</html>